<div class="sidenav">

    <mat-list style="direction: rtl; overflow: hidden">

      <div class="selection-container">

        <mat-form-field style="direction: ltr; width: 100px; margin-left: 5px; text-align: center; ">
            <input matInput [matDatepicker]="picker" placeholder="תאריך" >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field style="width: 120px; direction: ltr; text-align: center;">
            <mat-select placeholder="מה רצונך">
              <mat-option [value]="'תקלות'" style="text-align: right;">תקלות</mat-option>
              <mat-option [value]="'תיעוד תקלות'" style="text-align: right;">תיעוד תקלות</mat-option>
            </mat-select>
        </mat-form-field>

      </div>

      <mat-list-item class="mat-list-item-hover" *ngFor="let reportItem of reportsList ; let idx  = index" [routerLink]="['/info', reportItem]">
        <img matListAvatar src="{{reportItem.reportTender.imageUrl}}" alt="{{idx}}">
        <h3 matLine style="padding-right: 16px">{{reportItem.reportTitle}}</h3>
        <p matLine style="padding-right: 16px">
          <span>{{reportItem.reportTip}}</span>
        </p>
    </mat-list-item>

    </mat-list>      

  </div>